# Node.js dependencies
node_modules/

# Next.js build output
.next/
dist/
out/

# Environment variables
.env
.env.*

# System files
.DS_Store

# Logs
logs/
*.log

# Editor settings
.vscode/
.idea/

# Ignore Python virtual environments
venv/
AI/voicenote/venv/
venv/
*/venv/



# Python bytecode
*.pyc
__pycache__/

firebase-admin-key.json
firebase.js
